<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" type="image/png" href="https://kubernetes.io/images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <style>
	[v-cloak] {
    display: none;
  }
  .v-application .v-parallax {
    height: 100vh !important;
  }
  </style>
</head>
<body>
 <div id="app" v-cloak>
   <v-app dark>
    <v-content>
      <section>
        <v-parallax id="parallax-hero" :style="cuddleStyle" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png">
          <v-layout
            column
            align-center
            justify-center
            class="white--text"
          >
            <img :src="info.logo" height="350">
            <h1 class="white--text mb-2 display-1 text-xs-center">${ info.message }</h1>
            <div class="subheading mb-3 text-xs-center">Served by <b>${ info.hostname }</b></div>
            <v-btn
              class="red darken-2 mt-5"
              dark
              large
              @click="postBackend()"
            >
              <v-badge left color="red">
                <span slot="badge">${ pings }</span>
                <v-icon left dark>touch_app</v-icon>
              </v-badge>
              Ping
            </v-btn>

            <!-- Long-running Operations Section -->
            <v-card class="mt-5" dark style="max-width: 600px; width: 100%;">
              <v-card-title class="text-center">
                <v-icon left>work</v-icon>
                Long-running Operations
              </v-card-title>
              <v-card-text>
                <v-layout column align-center>
                  <v-btn
                    class="orange darken-2 mb-3"
                    dark
                    large
                    :loading="isDelayRunning"
                    :disabled="isDelayRunning"
                    @click="startDelay(10)"
                  >
                    <v-icon left>timer</v-icon>
                    Start 10s Delay Job
                  </v-btn>
                  
                  <v-btn
                    class="green darken-2 mb-3"
                    dark
                    large
                    :loading="isDelayRunning"
                    :disabled="isDelayRunning"
                    @click="startDelay(30)"
                  >
                    <v-icon left>timer</v-icon>
                    Start 30s Delay Job
                  </v-btn>

                  <v-btn
                    v-if="currentJobId && isDelayRunning"
                    class="red darken-2 mb-3"
                    dark
                    large
                    @click="cancelJob()"
                  >
                    <v-icon left>cancel</v-icon>
                    Cancel Job
                  </v-btn>

                  <v-progress-linear
                    v-if="isDelayRunning"
                    :value="delayProgress"
                    color="orange"
                    height="6"
                    class="mb-3"
                    style="width: 100%;"
                  ></v-progress-linear>

                  <div v-if="jobStatus" class="text-center">
                    <v-chip :color="getStatusColor(jobStatus)" dark>
                      ${ jobStatus }
                    </v-chip>
                    <div class="mt-2 text-caption">
                      Job ID: ${ currentJobId }
                    </div>
                  </div>
                </v-layout>
              </v-card-text>
            </v-card>

            <template>
              <v-timeline>
                <v-timeline-item :color="tlColor1"><h3>${ tlName1 }</h3></v-timeline-item>
                <v-timeline-item :color="tlColor2"><h3 slot="opposite">${ tlName2 }</h3></v-timeline-item>
              </v-timeline>
            </template>

          </v-layout>
        </v-parallax>
      </section>
      <v-footer class="blue darken-2">
        <v-layout row wrap align-center>
          <v-flex xs12>
            <div class="white--text ml-3">
              Powered
              by <a class="white--text" href="https://github.com/stefanprodan/podinfo" target="_blank">podinfo</a>
              version ${ info.version } revision ${ info.revision }
              Swagger <a class="white--text" href="swagger/">docs</a>
            </div>
          </v-flex>
        </v-layout>
      </v-footer>
    </v-content>
  </v-app>
 </div>

 <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
 <script>
   new Vue({
    delimiters: ['${', '}'],
    el: '#app',
    vuetify: new Vuetify(),
    data: function() {
    return {
        info: {},
        timer: '',
        color: '',
        pings: 0,
        calls: 0,
        tlName1: '',
        tlColor1: 'grey',
        tlName2: '',
        tlColor2: 'grey',
        cuddleStyle: {
            backgroundColor: '#34577c'
        },
        // Job-related data
        isDelayRunning: false,
        currentJobId: null,
        jobStatus: '',
        delayProgress: 0,
        delayStartTime: null,
        delayDuration: 0,
        progressTimer: null,
    }
    },
    created: function() {
        this.getInfo();
        this.timer = setInterval(this.getInfo, 3000)
    },
    beforeDestroy: function() {
        if (this.timer) {
            clearInterval(this.timer);
        }
        if (this.progressTimer) {
            clearInterval(this.progressTimer);
        }
    },
    methods: {
        getInfo: function() {
          const xhr = new XMLHttpRequest();
          let self = this;
          xhr.open('GET', "api/info")
            xhr.onload = function () {
                data = JSON.parse(xhr.responseText)
                if (self.info.version) {
                    if (self.info.version != data.version) {
                        console.log("New version", data.version)
                    }
                }
                self.info = data
                self.info.color = data.color
                self.cuddleStyle = {
                    backgroundColor: data.color
                }
                self.info.logo = data.logo
                document.title = data.hostname
                let verColor = (parseInt(data.version.split('.').reverse()[0], 10)  % 2 === 0)
                        ? 'blue'
                        : 'green'
                if ((self.calls % 2) === 0) {
                  self.tlColor2 += ' lighten-2'
                  self.tlColor1 = verColor
                  self.tlName1 = data.version
                } else {
                  self.tlColor1 += ' lighten-2'
                self.tlColor2 = verColor
                self.tlName2 = data.version
              }
              self.calls++
            }
            xhr.onerror = function() {
                console.log(xhr.responseText || 'Network request failed')
            }
            xhr.send()
        },
        postBackend: function() {
            var self = this
            fetch("api/echo", {
                method: 'post',
                headers: {
                "Content-type": "application/json; charset=UTF-8",
                "X-APP": Math.random(),
                },
                body: JSON.stringify({random: Math.random()})
            })
            .then(function(response) {
                self.pings++
                self.color = response.headers.get('X-Color')
                return response.json()
            })
            .then(function(json) {
                console.log('Request successful', json);
            })
            .catch(function (error) {
                console.log('Request failed', error);
            });
        },
        startDelay: function(seconds) {
            var self = this;
            self.isDelayRunning = true;
            self.delayDuration = seconds;
            self.delayStartTime = Date.now();
            self.delayProgress = 0;
            self.jobStatus = 'starting';
            
            // Start progress tracking
            self.progressTimer = setInterval(function() {
                if (self.isDelayRunning) {
                    var elapsed = (Date.now() - self.delayStartTime) / 1000;
                    self.delayProgress = Math.min((elapsed / seconds) * 100, 100);
                }
            }, 100);

            fetch(`delay/${seconds}`)
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {
                    self.isDelayRunning = false;
                    self.currentJobId = data.job_id;
                    self.jobStatus = data.status;
                    self.delayProgress = 100;
                    clearInterval(self.progressTimer);
                    console.log('Delay job completed:', data);
                })
                .catch(function(error) {
                    self.isDelayRunning = false;
                    self.jobStatus = 'error';
                    clearInterval(self.progressTimer);
                    console.log('Delay job failed:', error);
                });
        },
        cancelJob: function() {
            var self = this;
            if (!self.currentJobId) return;
            
            fetch(`jobs/${self.currentJobId}/cancel`, {
                method: 'POST',
                headers: {
                    "Content-type": "application/json; charset=UTF-8",
                }
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                self.isDelayRunning = false;
                self.jobStatus = data.status;
                clearInterval(self.progressTimer);
                console.log('Job cancelled:', data);
            })
            .catch(function(error) {
                console.log('Cancel job failed:', error);
            });
        },
        getStatusColor: function(status) {
            switch(status) {
                case 'running': return 'orange';
                case 'completed': return 'green';
                case 'cancelled': return 'red';
                case 'error': return 'red';
                default: return 'grey';
            }
        }
    }
  })
 </script>
</body>
</html>
